$uiMinGreen: #00bd93;
$uiGreyScale_2: #f2f5f9;
$uiMaxYellow: #e37602;
$uiOrange_20: #fbe3d2;

$black: #000;
$white: white;
$blue: #006aef;
$txtSecondary_1: #5a7494;
$txtPrimary: #111924;
$gray: #768ca9;
$uiSky_100: #3195dd;
$lightGray: #f5f7fa;
$uiGrass_100: #50c771;
$neutral: #383838;
// #1e7bf1
